h1 {
    color: #6d311788;
}
body {
    background: linear-gradient(135deg, #8A2BE2, #800080);
    background-size: 200% 200%;
    animation: wave-animation 10s ease-in-out infinite;
  }

  @keyframes wave-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }